*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    background-color: #e6e6e6;
    text-transform: uppercase;

}

.months{
    background-color: #faeeee;
    border: 1px solid #868484;
}

.months h1{
    background-color: #868484;
    color: #e6e6e6;
    text-align: center;
    padding: 5px;
}

header{
    background-color: #868484;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #e6e6e6;
    
}
.calendar{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

main{
    margin-top: 110px;
}

.days,
.dates{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);


}

li{
    background-color: #e6e6e6;
    border: .5px solid #868484;
    padding: 5px;
    text-align: center;
    gap: 3px;
    margin: 5px;
}
ul{
    background-color: #e6e6e6;
    border: .5px solid #868484;
    padding: 5px;
    text-align: center;
    gap: 3px;
    margin: 5px;
}


